<section id="about">
  <div id="about-container">
    <div class="about-titles">
      <p class="section__text__p1">Get to know more</p>
      <h1 class="title">About me</h1>
    </div>
    <div class="section-container">
      <div class="about-deails-container">
        <div class="about-containers">
          <div class="card-container">
            <img class="about-icon" src="images/icons/exp.png" alt="checkmark" />
            <h3>Experience</h3>
            <p>3 months Web Development</p>
            <p>1 month IT support</p>
          </div>
          <div class="card-container">
            <img
              class="about-icon"
              src="images/icons/exp.png"
              alt="education icon"
            />
            <h3>Education</h3>
            <p>Pursuing BS in Computer Science</p>
          </div>
        </div>
        <div class="text-container">
          <p>
           Ever since I was a kid there has been no end to my curiosity. 
           With technology constantly evolving, there's always something new to learn and discover 
           which made me realize that this is the industry for me. Whether it's troubleshooting a stubborn bug 
           or optimizing an algorithm for efficiency, I'm all about tackling problems head-on and honing my skills 
           along the way. Outisde of the cs world, I like to unwind with a bit of gaming, eat out, watch shows/movies 
           and workout.
          </p>
        </div>
      </div>
      <div class="skills-details-container">
        <div class="skills-containers">
          <div class="article-container">
            <article>
              <img src="/images/icons/html.png" alt="html" class="icon" />
              <div>
                <h3>HTML</h3>
              </div>
            </article>
            <article>
              <img src="/images/icons/css.png" alt="css" class="icon" />
              <div>
                <h3>CSS</h3>
              </div>
            </article>
          </div>
          <div class="article-container">
            <article>
              <img src="/images/icons/go.png" alt="go" class="icon" />
              <div>
                <h3>Go</h3>
              </div>
            </article>
            <article>
              <img src="/images/icons/js.png" alt="js" class="icon" />
              <div>
                <h3>JavaScript</h3>
              </div>
            </article>
            <article>
              <img src="/images/icons/bootstrap.png" alt="bootstrap" class="icon" />
              <div>
                <h3>Bootstrap</h3>
              </div>
            </article>

            <article>
              <img src="/images/icons/node.png" alt="node" class="icon" />
              <div>
                <h3>Node JS</h3>
              </div>
            </article>
          </div>
          <div class="article-container">
            <article>
              <img src="/images/icons/express.png" alt="express" class="icon" />
              <div>
                <h3>Express JS</h3>
              </div>
            </article>
            <article>
              <img src="/images/icons/mongodb.png" alt="mongodb" class="icon" />
              <div>
                <h3>MongoDB</h3>
              </div>
            </article>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
