<div id="nav-container">
    <nav id="desktop-nav">
         <ul class="nav-links">
            <li> <div class="logo"><a class="scroll" href="#profile" data-target="profile">Shreyash Hamal</a></div></li>
         </ul>
        <div>
            <ul class="nav-links">
                <li><a class="underline scroll" href="#about" data-target="about">About</a></li>
                <li><a class="underline scroll" href="#projects" data-target="projects">Projects</a></li>
                <li><a class="underline scroll" href="#contact" data-target="contact">Contact</a></li>
            </ul>
        </div>
    </nav>
</div>