<div>
  <section id="projects">
    <div id="project-container" style="position: relative;">
      <p class="section__text__p1">Browse My Recent</p>
      <h1 class="title">Projects</h1>
      <div class="carousel">
      <button id="left-button" class="btn btn-nav">&larr;</button>
      <div class="project-details-container">
        <div class="project-containers">
          <div class="details-container color-container";>
            <div class="article-container">
              <img src="/images/project1.png" alt="Project 1" class="project-img" />
            </div>
            <h2 class="skills-sub-title project-title">Web Crawler In GO</h2>
        
            <div class="btn-container">
              <button
                class="btn btn-color-2 project-btn"
                onclick="location.href='https://github.com/Shreyboiii/Go-Web-Crawler-'"
              >
                Github
              </button>
              <button
                class="btn btn-color-2 project-btn"
                onclick="location.href='https://github.com/Shreyboiii/Go-Web-Crawler-'"
              >
                Live Demo
              </button>
            </div>
          </div>
          <div class="details-container color-container">
            <div class="article-container">
              <img src="/images/soon.jpg" alt="Project 2" class="project-img" />
            </div>
            <h2 class="skills-sub-title project-title">Currently Ongoing...</h2>
            <div class="btn-container">
              <button class="btn btn-color-2 project-btn" onclick="location.href=''">Github</button>
              <button class="btn btn-color-2 project-btn" onclick="location.href=''">Live Demo</button>
            </div>
          </div>
          
          <!-- Add more projects here -->
        </div>
      </div>
       <button id="right-button" class="btn btn-nav">&rarr;</button>
       </div>
    </div>
  </section>
</div>